/* @font-face {
    font-family: 'Inconsolata';
    src:url('fonts/inconsolata.woff') format('woff');
    font-display: swap;
    font-style: monospace;
    font-weight: 400;
} */

:root {
    --background: #282a36;
    --white: #FFF;
    --pink: #e53170;
    --red: #f25f4c;
    --orange: #ff8906;
    --yellow: #f0c863;
    --green: #00bf01;
    --mint: #37e2b7;
    --blue: #04d9ff;
    --purple: #a76ae0;
    --branch: 1px solid #a7a9be;
}

body {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    background-color: var(--background);
    font-family: 'Inconsolata', monospace;
    color: var(--white);
    font-size: 100%;
}

.content {
    margin-top:50px;
    height: 100%;
    width: 70%;
    display: inherit;
}

h3 {
    color: var(--pink);
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.column {
    /* width: 33.33%; */
    width: 45%;
    height: 100px;
}

ul {
    margin: 0;
    list-style: none;
    padding-left: 1rem;
}

li {
    list-style-type: none;
    position: relative;
}

a {
    color: var(--white);
    text-decoration: none;
    outline: none;
    font-size: 1rem;
}

li::before, li::after {
    content: "";
    position: absolute;
    left: -0.75rem;
    top: 0rem;
}

li::before {
    content: "";
    position: absolute;
    left: -0.75rem;
    top: 0.5rem;
    width: 0.5rem;
    border-top: var(--branch);
}

li::after {
    border-left: var(--branch);
    height: 100%;
}
li:last-child::after {
    height: 0.5rem;
}

a:hover, a:focus {
    color: var(--background);
    background: var(--white);
}
