
:root {
    --background: #282a36;
    --white: #FFF;
    --pink: #e53170;
    --red: #f25f4c;
    --orange: #ff8906;
    --branch: 1px solid #a7a9be;
}

html {
    height: 100%;
    background-color: var(--background);
    font-family: 'Inconsolata', monospace;
    color: #FFF;
}

body {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.content {
    margin-top:50px;
    height: 100%;
    width: 70%;
    display: inherit;
}

h3 {
    color: var(--orange);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.column {
    width: 33.33%;
    height: 100px;
}

.column > ul {
    margin: 0;
    padding-left: 1rem;
}

ul {
    list-style: none;
    padding-left: 2.5rem;
}

li {
    list-style-type: none;
    position: relative;
}

a {
    color: var(--white);
    text-decoration: none;
    outline: none;
    font-size: 1rem;
}

li:before, li:after {
    content: "";
    position: absolute;
    left: -0.75rem;
}

li:before {
    content: "";
    position: absolute;
    left: -0.75rem;
    top: 0.5rem;
    width: 0.5rem;
    border-top: var(--branch);
}

li:after {
    border-left: var(--branch);
    height: 100%;
}
li:last-child::after {
    height: 0.5rem;
}

a:hover,
a:focus {
    color: var(--background);
    background: var(--white);
}
